{% extends 'header.html' %}


{% block title %} 
<title>Alham Rugs - Who we are </title>
{% endblock %}


{% block content %}







            <!--/Header -->        
            
            
            
            <!-- Main -->
            <div id="main">
            
            	<!-- Hero Section -->
                <div id="hero" class="has-image">
                    <div id="hero-styles" class="parallax-onscroll">
                        <div id="hero-caption" class="text-align-center">
                            <div class="inner">
                                <h1 class="hero-title">About <span>Us</span></h1> 
                                <h2 class="hero-subtitle">{{about.title}}</h2>
                                
                                <div class="scroll-down-wrap no-border link">
                                    <a href="#" class="section-down-arrow ">
                                        <svg class="nectar-scroll-icon" viewBox="0 0 30 45" enable-background="new 0 0 30 45">
                                            <path class="nectar-scroll-icon-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M15,1.118c12.352,0,13.967,12.88,13.967,12.88v18.76  c0,0-1.514,11.204-13.967,11.204S0.931,32.966,0.931,32.966V14.05C0.931,14.05,2.648,1.118,15,1.118z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>                                              
                            </div>
                        </div>                                            
                    </div>
                </div>
                <div id="hero-bg-wrapper">
                    <div id="hero-image-parallax">
                        <div id="hero-bg-image" style="background-image: url('{{about.image.url}}');"></div>
                    </div>
                </div>                         
                <!--/Hero Section -->   
                     
                
                <!-- Main Content -->
                <div id="main-content">
                	<div id="main-page-content">
                     	
                        <!-- Row -->
                        <div class="vc_row row_padding_top row_padding_bottom">
                            
                            <div class="container">
                                
                                
                                
                                <div class=" has-animation last" data-delay="50">
							<center>	<h4>About Alham Rugs</h4></center>
                            <p>{{about.p1}}</p>
                            <p>{{about.p2}}</p>
                            <p>{{about.p3}}</p>
                            <p>{{about.p4}}</p>
                            <p>{{about.p5}}</p>
                                    <!--<a href="https://www.behance.net/gallery/66551479/ACADEMY-SPORTS-OUTDOORS-BASEBALL" target="_blank" class="link"><span>Read More</span></a>-->
                                </div>
                                
                            </div>
                            
                        </div>
                        <!--/Row -->
                        
                        <!-- Row -->
                      
                                <!--/Collage -->
                                
                            </div>
                            
                        </div>
                        <!--/Row -->
			
						
						
						
						
                    
                    </div>
                	<!--/Main Page Content --> 
                    
                    <!-- Project Navigation --> 
                    <div id="project-nav">
                        <div class="next-project-wrap">
                            <div ></div>
                           <!-- <a class="next-project-title next-ajax-link-project hide-ball " data-type="page-transition" href="project07.html">
                              
                            </a>-->
                        </div>
						
                    </div>      
                    <!--/Project Navigation -->
                                        	
                            
                </div>
                <!--/Main Content --> 
            </div>
            <!--/Main --> 
            
            
            <!-- Footer -->
            {% include 'footer.html' %}
            <!--/Footer -->
            
            
		</div>    
        <!--/Page Content -->
    
		</div>
	</main>
    
    
    {% endblock %}