<footer class="fixed">        	
                <div id="footer-container">
                	
                    <!-- <div id="counter-wrap" data-hover="07">
                    	<span data-slide-count="1">01</span>
                        <span data-slide-count="2">02</span>
                        <span data-slide-count="3">03</span>
                        <span data-slide-count="4">04</span>
                        <span data-slide-count="5">05</span>
                        <span data-slide-count="6">06</span>
                        <span data-slide-count="7">07</span>
                    </div> -->
                    
                    <div class="socials-wrap">            	
                        <div class="socials-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
                        <div class="socials-text">Follow us</div>
                        <ul class="socials">
                            <li><span class="parallax-wrap"><a class="parallax-element" href="{{social.facebook}}" target="_blank">FB</a></span></li>
                            <li><span class="parallax-wrap"><a class="parallax-element" href="{{social.insta}}" target="_blank">INSTA</a></span></li>
                            <li><span class="parallax-wrap"><a class="parallax-element" href="https://wa.me/{{social.whatsapp}}" target="_blank">WT</a></span></li>
                        </ul>                
                    </div>
                    
                </div>
            </footer>
            <!--/Footer -->
           
      