{% extends 'header.html' %}

{% block title %} 
<title>Alham Rugs - How we made </title>
{% endblock %}



{% block content %}





                <!--/Header -->


                <!-- Main -->
                <div id="main">

                    <!-- Hero Section -->


                    <!--/Hero Section -->


                    <!-- Main Content -->
                    <div id="main-content">
                        <div id="main-page-content">

                            <!-- Row -->

                            <!--/Row -->


                            <!--/Row -->
                            <div class="vc_row row_padding_bottom">

                                <div class="container">
                                    <div class="main-title"><br><br>
                                        <center> <span>Process</span></center>
                                    </div>
                                    <!--<div class="main-subtitle">Next Project</div>-->
                                    <p style="text-align:center"><br>
                                        {{process.heading1}}
                                        <br>
                                        {{process.heading2}}
                                        <br>
                                        {{process.heading3}}
                                        </p>
                                </div>
                            </div>
                            <!--   <div class="vc_row full">
                        
                            <div class="container">
                           
                                <figure class="has-animation" data-delay="50" >
                                    <img src="images/hero-process.jpg" alt="Image Title">               
                                    
                                </figure>
                            
                            </div>
                        
                        </div>-->
                            <div class="vc_row row_padding_bottom">

                                <div class="container">

                                    <div class="one_half" style=" color:#000000">
                                        <figure class="has-animation" data-delay="20">
                                            <center> <img src="../media/images/dyeing.png" width="20%" alt="dyeing"
                                                    class="detail-content-icon" />
                                                <h2>dyeing</h2>
                                            </center>
                                            <div class="detail-content-text">
                                                <p style="text-align: center;">
                                                   {{process.p1}}
                                                </p>
                                        </figure>

                                    </div>

                                    <div class="one_half last">

                                        <figure class="has-animation" data-delay="20">

                                            <img src="{{process.image1.url}}" />
                                        </figure>

                                    </div>

                                </div>

                            </div>


                            <div class="vc_row row_padding_bottom">

                                <div class="container">

                                    <div class="one_half" style=" color:#000000">
                                        <figure class="has-animation" data-delay="20">
                                            <img src="{{process.image2.url}}" />
                                        </figure>

                                    </div>

                                    <div class="one_half last">

                                        <figure class="has-animation" data-delay="20">
                                            <center> <img src="../media/images/spinning.png" width="15%" alt="dyeing"
                                                    class="detail-content-icon" />
                                                <h2>spinning</h2>
                                            </center>
                                            <div class="detail-content-text">
                                                <p style="text-align: center;"> {{process.p2}}</p>
                                        </figure>

                                    </div>

                                </div>

                            </div>


                            <div class="vc_row row_padding_bottom">

                                <div class="container">

                                    <div class="one_half" style=" color:#000000">
                                        <figure class="has-animation" data-delay="20">
                                            <center> <img src="../media/images/58977-200.png" width="20%" alt="dyeing"
                                                    class="detail-content-icon" />
                                                <h2>weaving</h2>
                                            </center>
                                            <div class="detail-content-text">
                                                <p style="text-align: center;"> {{process.p3}}</p>
                                        </figure>

                                    </div>

                                    <div class="one_half last">

                                        <figure class="has-animation" data-delay="20">
                                            <img src="{{process.image3.url}}" />
                                        </figure>

                                    </div>

                                </div>

                            </div>



                            <div class="vc_row row_padding_bottom">

                                <div class="container">

                                    <div class="one_half" style=" color:#000000">
                                        <figure class="has-animation" data-delay="20">
                                            <img src="{{process.image4.url}}" />
                                        </figure>

                                    </div>

                                    <div class="one_half last">

                                        <figure class="has-animation" data-delay="20">
                                            <center> <img src="../media/images/washing.png" width="20%" alt="dyeing"
                                                    class="detail-content-icon" />
                                                <h2>washing</h2>
                                            </center>
                                            <div class="detail-content-text">
                                                <p style="text-align: center;"> {{process.p4}}</p>
                                        </figure>

                                    </div>

                                </div>

                            </div>

                            <div class="vc_row row_padding_bottom">

                                <div class="container">

                                    <div class="one_half" style=" color:#000000">
                                        <figure class="has-animation" data-delay="20">
                                            <center> <img src="../media/images/finishing.png" width="20%" alt="dyeing"
                                                    class="detail-content-icon" />
                                                <h2>finishing</h2>
                                            </center>
                                            <div class="detail-content-text">
                                                <p style="text-align: center;"> {{process.p5}}</p>
                                        </figure>

                                    </div>

                                    <div class="one_half last">

                                        <figure class="has-animation" data-delay="20">
                                            <img src="{{process.image5.url}}" />
                                        </figure>

                                    </div>

                                </div>

                            </div>

                            <div class="vc_row row_padding_bottom">

                                <div class="container">

                                    <div class="one_half" style=" color:#000000">
                                        <figure class="has-animation" data-delay="20">
                                            <img src="{{process.image6.url}}" />
                                        </figure>

                                    </div>

                                    <div class="one_half last">

                                        <figure class="has-animation" data-delay="20">
                                            <center> <img src="{{logo.lightLogo.url}}" width="30%" alt="dyeing"
                                                    class="detail-content-icon" />
                                                <h2>the final touch</h2>
                                            </center>
                                            <div class="detail-content-text">
                                                <p style="text-align: center;"> {{process.p6}}</p>
                                        </figure>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <!--/Main Page Content -->

                        <!-- Project Navigation -->
                        <div id="project-nav">
                            <div class="next-project-wrap">
                                <div></div>
                                <a class="next-project-title next-ajax-link-project hide-ball "
                                    data-type="page-transition" href="project07.html">

                                </a>
                            </div>

                        </div>
                        <!--/Project Navigation -->


                    </div>
                    <!--/Main Content -->
                </div>
                <!--/Main -->


                <!-- Footer -->
                {% include 'footer.html' %}
                <!--/Footer -->


            </div>
            <!--/Page Content -->

        </div>
    </main>


{% endblock %}